<nav class="nav flex-column mt-4">
    <a class="nav-link" routerLink="/note"><i class="fa fa-book"></i>  <span>记事</span></a>
    <a class="nav-link" routerLink="/remind" ><i class="fa fa-book"></i>  <span>提醒</span></a>
    <div class="w-100"></div>
    <a class="nav-link"><i class="fa fa-book"></i>  <span>修改标签</span></a>
    <div class="w-100"></div>
    <a class="nav-link"><i class="fa fa-book"></i>  <span>归档</span></a>
    <a class="nav-link"><i class="fa fa-book"></i>  <span>回收站</span></a>
</nav>
