a{
    text-decoration:none;
}

.login-panel{
    margin: 5vh 0 5vh 0;
    height: 55vh;
    min-width: 100px;
}

.login-panel .login-title{
    background-color: #E1E5EC;
    min-width: 100px;
}
.login-panel .login-body{
    height: 30vh;
}

.login-panel .login-footer{
    height: 15vh;
    background-color: #E1E5EC;
}
